.add_btn {
  color: #f65271;
  background-color: rgba(96, 96, 96, 0.7);
  padding: 5px;
  border-radius: 4px;
  height: 46px;
  width: 177px;
  font-size: 20px;
  border: none;
}

.add_btn:hover {
  cursor: pointer;
}
